@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
.button{
    background-color: #8216ff;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    color: white;
    width: 300px;
    margin: 20px 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
#center,.center{
    text-align: center;
    align-items: center;
    margin-top: 100px;
}
*{
    text-align: center;
    width: auto;
    margin-top: 0;
    /* font-size: 20px; */
}
p{
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.bg{
    background-color: #100034;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.button1{
    border: none;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 1rem;
    width: 300px;
    font-size: 20px;
    margin-right: 50px;
    
}
.button2{
    border: 2px solid #8216ff;
    margin-right: 50px;
    margin-top: 10px;
}
.button2:hover,.active{
    background-color: white;
    color:#8216ff;
}
.fullwidth{
    width: 25%;
}
@media only screen and (max-width: 650px) {
    body{
        padding: 10px;
        height: 120vh;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .fullwidth{
        width: 90%;
        margin: 10px;
    }
}

